p {
    margin: 0;
}

body{
background-image: url('https://wallpaper.dog/large/20469828.jpg');
background-repeat: no-repeat;
				background-attachment: fixed; 
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: center;
}

.block {
    height: 300px;
    width: 20%;
    padding: 30px;
    background-color: rgba(81, 127, 170, 0.626);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-width:2px;
    border-color:#16006c;
    border-radius:50px;
}

poem{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
