@import url(null.css);


/****/


html, body {
   height: 100%;
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
   background: #1d0f4a;
   display: flex;
   justify-content: center;
   align-items: center;

}

.footer {
   padding: 20px;
}

.action {
   background: #281b54;
   color: white;
   max-width: 25%;
   padding: 2.6rem;
   font-family: 'Montserrat', sans-serif;
   border-radius: 13%;
   display: flex;
   flex-direction: column;
   box-shadow: 5px 6px 20px black;
}

.article {
   font-family: 'Unbounded', cursive;
   font-size: 20px;
   justify-content: center;
   margin-bottom: 1.5rem;
   text-align: center;
}

.author {
   font-family: 'Unbounded', cursive;
   font-size: 1rem;
   font-weight: 600;
}

.action__bottom {
   align-self: flex-end;
   padding-top: 1.5rem;
   font-size: 0.9rem;
}